<div class="background">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8">
        <div class="form">

        <h1>Add your Favourite Cocktail</h1>

        <%= simple_form_for (@drink) do |f| %>
          <%= f.input :name, :label => "Cocktail Name", placeholder: "mojito" %>
          <%= f.input :ingredients, placeholder: "Light rum, Lime, Sugar, Mint, Soda water" %>
          <%= f.input :preparation, :label => "Preparation Method", placeholder: "Fill the glass with cracked ice. Pour the rum and add a splash of soda water ... " %>
          <%= f.input :image, :label => "Image Address", placeholder: "https://www.culinea.nl/wp-content/uploads/2021/05/Hurricane-Cocktail-11-Copy.jpg" %>
          <%= f.submit 'Add Cocktail!', class: "btn" %>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
